@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

body {
    background-color: rgb(189, 129, 230);
    width: 100%;
    font-family: 'Montserrat';
    font-weight: normal;
    padding: 0;
    margin: 0;
    
}
section{
    align-items: center;
    align-content: center;
    position: relative;
    text-align: center;
    margin: 0 auto;
}

.card_body {
    background-color: rgb(0, 0, 0);
    background-position: center;
    border-radius: 10px;
    width: 250px;
    height: 800px;
    display: inline-flex;
    justify-content: center;
    position: relative;
    flex-direction: column;
    padding: 1.5em;
    margin: 2rem;
    margin-bottom: 2rem;
    align-items: center;
    transition: 1.9s;
}

.card_title {
    font-size: 1.5em;
    color: white;
    text-align: center;
    background: transparent;
    top: 19px;
    position: relative;
}

img {
    width: 100%;
    height: 100%;
    justify-content: center;
    position: relative;
    border-radius: 20px;
}

p {
    font-size: 1.4em;
    background-color: rgb(0, 0, 0);
    text-align: center;
    color: white;
    padding: 0;
    margin: 0;
    position: relative;
}

header {
    width: 100%;
    height: 15vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    background-color: rgb(0, 0, 0);
    color: white;
    font-size: 1em;
    margin-bottom: 2.5em;
    
}

footer {
    width: 100%;
    height: 100px;
    font-size: 1.2em;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(0, 0, 0);
    color: white;
}

h4{
    color: white;
    font-size: 1.1em;
    text-align: center;
}

.icons{
    padding-bottom: -10px;
    margin: 0;
    position: relative;
    
}

.twitter{
    width: 80%;
    left: -70px;
    top: 40px;
    background: transparent;
}

.web{
width: 80%;
left: 18px;
top: -25px;
background: transparent;


}

.insta{
width: 80%;
left: 100px;
top: -90px;
background: transparent;
}

@media only screen and (max-width: 768px) {
    .card_body{
        width: 70vw;
        
    }

    
    img{
        width: 80%;
    }
  }